.main__hero {
  border-radius: 0 0 0 150px;
  padding: 120px 160px 32px 200px;
  color: white;
  background-color: rgb(237,2,38);
}

.main__hero-title {
  font-size: 72px;
}

.main__section-1-title{
  display: flex;
  padding: 100px;
  background-color: aliceblue;
  margin-top: 25px;
}

.main__title-1-{
  font-size: 35px;
}

.main__section-1-paraghrap{
  margin-top: 20px;
  
}

.main__hero-subtitle {
  font-size: 24px;
  margin-top: 28px;
}

.main__btn-selengkapnya {
  text-decoration: none;
  padding: 22px 80px;
  background-color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: rgb(237,2,38);
  border-radius: 50px;
  margin-top: 28px;
}

.main__btn-selengkapnya:hover {
  background-color: rgb(212, 212, 212);
}

.main__section-1 {
  width: 100%;

}

.main__box-card {
  width: 80%;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  gap: 10px;
}

.main__img-card{
  width: 150px;
}

.main__title-card{
  color: black;
  font-weight: bold;
  line-height: 50px;
  font-size: medium;
  
}

.main__description{
  font-size: small;
  line-height: 20px;

}

.main__description-card{
  font-size: medium;
  color: black;
}